*{
    font-family: 'Quicksand', sans-serif;
}

body{
    min-height: 100%;
}

.header{
	padding-top: 10px; 
	height: 55px; 
	top: 0; /* Position the navbar at the top of the page */
	z-index: 100;
    background-color: white;
    width: 100%;
	color:#006400;
    position: fixed;
}

.header_links{
    margin-top: 3px;
    font-size: 1.1em;
}

.switch_routers{
    margin-top:50px;
}

.header a{
    color:#006400;
}

.header a:hover{
    text-decoration: none;
    color: black;
}

.footer{
    background-color: white;
    text-align: center;
    padding: 10px 0 20px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    margin: 40px 0 0 0;
    font-size: .8em;
}

.footer-text{
    margin-bottom: 20px;
}

.footer a{
   margin-left: 10px;
}

.phantom{
    display: block;
    padding: 0px;
    height: 20px;
    width: 100%;
}

.footer a{
    color:#006400;
    font-size: 1.3em;
}

.footer a:hover{
    text-decoration: none;
    color: black;
}

/* Landing Page Style */


.landing-top{
    height: 430px;
    background-image: url("/images/topimage.jpg");
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 170px;
    color:  #003333;
    font-size: 1.5em; 
}

.shop-preview{
    height: 450px;
    padding-top: 20px; 
    font-size: .9em; 
}

.preview-box{
    text-align: center; 
    box-sizing: border-box;
    margin-bottom: 20px;
}

.preview-image{
    height: 360px;
}

.preview-image:hover{
    border: 2px solid black;
}

.monstera-landing{
    background-image: url("/images/landingpageplants/MONSTERA.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.pothos-landing{
    background-image: url("/images/landingpageplants/pothos.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.fiddle-landing{
    background-image: url("/images/landingpageplants/fiddleleaf.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.snake-landing{
    background-image: url("/images/landingpageplants/Snake.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.customer-quote{
    height: 300px;
    padding-top: 30px; 
    text-align: center;
    clear:both;
}


/* About Page Style */

.store-banner{
    height: 500px;
    text-align: left;
    padding-top: 140px;
    background-image: url("/images/aboutbanner.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center; 
    color: #003333;
}

.store-description{
    margin-top: 30px;
    font-size: .95em;
}

.about-title{
    margin-top: 30px; 
    text-align: center;
    font-size: 1.1em;
}

.about-us{
    height: 380px;
    padding-top: 40px;
    text-align: center; 
    font-size: .9em;
    margin-bottom: 280px;
}

.about-keithtina{
    height: 500px;
    width: 500px;
    margin-bottom: 40px;
    border-radius: 50%;
}

.about-plantae{
    text-align: center;
    font-size: 1.2em;
    background-color: #e9e8e4;
    padding: 30px 0px;
    clear:both;
}

.white-space{
    height: 100px;
    background-color: white;
    text-align: center;
}

/* Plant Detail Page Style */

.plant-page{
    max-width: 1000px;
    margin: 0 auto;
}


.top-links{
    margin: 40px auto;
    text-align: center; 
}

.top-links a{
    color: #800000;
}

.top-links p{
    font-size: .8em;
}

.plant-description{
    height: 350px;
    margin-bottom: 100px;
    display:flex;
    justify-content: space-around;
}

.detail-images{
    height: 350px;
    width: 270px;
}

.plant-details{
    background: linear-gradient( white, #edf2ed);
}

.plant-details h5{
    margin-bottom: 20px; 
}

.plant-details a{
    color:#800000;
}

.white-space a{
    color:#800000;
}

/* FAQ Page Style */


.faq-content{
    height:100%;
    padding-top: 50px;
}

.question-block{
    margin: 25px 0;
}

.question-block h5{
    text-indent: 2em;
    margin-right: 2em;
}

.question-block p{
    color: #006400;
    text-align: left;
    margin-left: 4em;
    margin-right: 4em;
}

.question-block a{
    color:  #800000;
}

/* Contact Page Style */
.plants-order{
    text-align: center; 
    margin: 0 auto;
}

@media screen and (max-width: 480px) {
    body{
        width:85%;
        margin:auto;
    }

    .header_second_link{
        margin-left: -35px;
    }

    .landing-top{
        background-image: url("/images/mobiletopimage.jpg");
        background-color: #daeaf1;
    }

    .landing-plant-description:last-child{
        margin-bottom: 20px; 
    }


    .preview-box{
        width: 85%;
        margin: 0 auto;
    }

    .customer-quote{
        display:none;
    }

    .plant-description{
        height: 500px;
        text-align: left; 
        margin: auto;
        margin-bottom: 250px;
    }

    .plant-details{
        background: none;
    }

    .store-banner{
        background-image: none;
        background-color: #e8e7e3;
        padding-top: 30px; 
    }

    .about-us{
        padding-bottom: 0px;
    }

    .about-keithtina{
        height: 250px;
        width: 250px;
        border-radius: 50%;
    }

    .about-plantae{
        margin-top: -300px;
        font-size: .9em;
        text-align: left;
    }

    .faq-content{
        text-align: center; 
    }

    .question-block h5{
        text-indent: 0em;
        margin-right: 0em;
    }

    .question-block p{
        color: #006400;
        text-align: center;
        margin-left: 0em;
        margin-right: 0em;
    }
}


